body {
    background-image:url('../images/background2.JPG');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;

    background-color: black;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.navbar li { 
    color: #000 
} 

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: red;
}

#home-band-name {
    font-family: 'Raleway', sans-serif;
    color: red;
    font-size: 500%;
    text-shadow: 8px 4px 6px #000;
    letter-spacing: 8px;
    position: relative;
    -webkit-transform: translateY(150%);
    -ms-transform: translateY(150%);
    transform: translateY(150%);
}

@media screen and (max-width: 606px) {
    #home-band-name { 
        position: relative;
        -webkit-transform: translateY(30%);
        -ms-transform: translateY(30%);
        transform: translateY(30%);
    }
}

#home-band-name-highlight {
    color: white;
}

#home-band-message-highlight {
    color: white;
    font-size: 40%;
    letter-spacing: normal;
}

.home-band-message-bracket {
    color: red;
    font-size: 40%;
    letter-spacing: normal;
}