body {
    background-image: url('../images/background2.JPG');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: black;
}

@media screen and (min-width: 768px) {
    .navbar {
        background-color: transparent;
        background: transparent;
        border-color: transparent;
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        background-color: #111111;
        background: #111111;
        border-color: #111111;
    }
}

.navbar li { 
    color: #000 
} 

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: red;
}

#home-band-name {
    font-family: 'Raleway', sans-serif;
    color: red;
    font-size: 500%;
    text-shadow: 8px 4px 8px black;
    letter-spacing: 8px;
    position: relative;
    -webkit-transform: translateY(170%);
    -ms-transform: translateY(170%);
    transform: translateY(170%);
}

@media screen and (max-width: 606px) {
    #home-band-name { 
        position: relative;
        -webkit-transform: translateY(30%);
        -ms-transform: translateY(30%);
        transform: translateY(30%);
    }
}

#home-band-name-highlight {
    color: white;
}

#home-band-message-highlight {
    color: white;
    font-size: 40%;
    letter-spacing: normal;
}

.home-band-message-bracket {
    color: red;
    font-size: 40%;
    letter-spacing: normal;
}

.panel {
    margin-top: 20%;
    padding: 30px;
    background-color: black;
}

.panel p {
    color: white;
    font-size: 150%;
}