.main-content {
    margin: 0;
}

.container {
    padding-left: 0;
}

.card {
    height: 100vh;
    width: 100vw;
}

.card-text {
    text-align: center;
    padding-top: 20%
}

.card-one {
    background: url("../images/background2.JPG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-two {
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.navbar li { 
    color: #000 
} 

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: red;
}

#home-band-name {
    font-family: 'Raleway', sans-serif;
    color: red;
    font-size: 500%;
    text-shadow: 8px 4px 6px #000;
    letter-spacing: 8px;
}

#home-band-name-highlight {
    color: white;
}

#home-band-message-highlight {
    color: white;
    font-size: 40%;
    letter-spacing: normal;
}

.home-band-message-bracket {
    color: red;
    font-size: 40%;
    letter-spacing: normal;
}