@font-face {
    font-family: 'SteelWorks';
    src: url('../fonts/steelworks_vintage_demo.woff2') format('woff2'),
         url('../fonts/steelworks_vintage_demo.woff') format('woff');
    font-weight:400;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
}

.content {
    -webkit-animation: fadein 0.75s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.75s; /* Firefox < 16 */
    -ms-animation: fadein 0.75s; /* Internet Explorer */
    -o-animation: fadein 0.75s; /* Opera < 12.1 */
    animation: fadein 0.75s;
}

#background-vid {
    position: fixed;
    z-index: -100;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    transition: 1s opacity;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.navbar {
    background-color: black;
    background: black;
    border-color: black;
}

.navbar li { 
    color: #000 
} 

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #1E90FF;
}

.navbar-brand {
    font-family: SteelWorks, Raleway, sans-serif;
    font-size: 200%;
}

#home-band-name {
    font-family: SteelWorks, 'Raleway', sans-serif;
    font-size: 700%;
    text-shadow: 8px 4px 8px black;
    letter-spacing: 8px;
    position: relative;
    -webkit-transform: translateY(60%);
    -ms-transform: translateY(60%);
    transform: translateY(60%);
}

@media screen and (max-width: 606px) {
    #home-band-name { 
        position: relative;
        -webkit-transform: translateY(30%);
        -ms-transform: translateY(30%);
        transform: translateY(30%);
    }
}

#home-band-name-highlight {
    color: white;
}

.panel {
    border-radius: 10px;
    min-height: 400px;
    margin-top: 10%;
    padding: 30px;
    background-color: black;
}

.panel-news {
    margin-top: 88vh;
}

@media screen and (max-width: 991px) {
    .panel-news { 
        margin-top: 110%;
    }
}

.panel p {
    color: white;
    font-size: 150%;
}

.panel-header {
    color: white;
}

.panel-header h3 {
    padding-left: 5px;
}

.panel-card {
    background-color: #2E2E2E;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}

.panel-card hr {
    color: white;
}

.panel-card p {
    color: white;
}

.highlight {
    color:#1E90FF;
}

.about-img {
    border: 3px solid #1E90FF;
    width: 200px;
    height: 200px;
}

.thumbnail {
    background-color: #2E2E2E;
    border: none;
}

.thumbnail h3 {
    color: white;
}